@model BusTicketBooking.Models.Passenger
@{
    ViewBag.Title = "Cancel";
}
<style>
    #f1 {
        text-align: center;
        font-style: italic;
        font-weight: bolder;
    }

    body {
        background-image: url('../../images/cancelt.png');
        background-size: cover;
    }

    .error {
        color: red;
        font-weight: bold;
    }
</style>
<h2 style="text-align:center; margin-top:45px;">Cancel Your Ticket Here</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(function ()
    {
        var count = 0;
        var count2 = 0;

        $("#getAll").click(function () {
            var prodid = $("#pid").val();
            $.ajax({
                type: 'get',
                url: 'https://localhost:44337/api/BusBooking/getbyid/' + prodid, //i have to change the link
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (msg)
                {
                    var str = "";
                       var passengerDetailsBody = $("#passengerDetailsBody");
                    passengerDetailsBody.empty();
                    var headingsRow = $("<tr>").html(`
                        <th>Ticket ID</th>
                        <th>Passenger ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Cancel</th>
                    `);
                    passengerDetailsBody.append(headingsRow);
                    count = msg.length;
                    for (var i = 0; i <msg.length; i++)
                    {

                                     var row = $("<tr>").html(`
                                                     <td>@Html.TextBox("tid",null, new { Value = "` +msg[i].TicketId+ `",id="tid",placeholder="Enter TicketID",required="required"})


                                                     <td>@Html.TextBox("pid", null, new { Value = "` +msg[i].PassengerID+ `"})

                                                      <td>@Html.TextBox("pname", null, new { Value = "` +msg[i].Name+ `" })</td>
                                                     <td>@Html.TextBox("pAge", null, new { Value = "` +msg[i].Age+ `" })</td>

                                                     <td>@Html.TextBox("pgender", null, new { Value = "` +msg[i].Gender+ `" })
                                            </td>
                                             <td><input type='checkbox' name='chb' value="`+ msg[i].PassengerID + " " + msg[i].TicketId +
                                         `" class='check' id="`+msg[i].PassengerID+`"></<td>

                                                     `);
                                     passengerDetailsBody.append(row);
                    }

                    $("#passengerDetailsBody").append(passengerDetailsBody);
                    $("#submitBtn").show();
                    $("#submitBtn").attr("disabled",true);
                },
                error: function (x, err) {
                    document.getElementById("status").innerHTML = "Ticket ID is required";
                }
            })
        })
        $(document).on("change", ".check", function () {
            var id=$(this).attr("id");
            if ($("#"+id).is(":checked")) {
                count2++;
            }
            if (!$("#"+id).is(":checked") ){
                count2--;
            }
        if (count2 <= count) {
            $("#submitBtn").attr("disabled", false);
            }
            if (count2 ==0) {
                $("#submitBtn").attr("disabled", true);
            }
        });
    })
</script>
<table style="
    margin-left: 800px;margin-bottom:20px; margin-top:60px;">
    <tr>
        <th>TicketID</th>
        <td>
            <input type="text" id="pid" />
        </td>
        <td>
            <input type="button" class="btn btn-primary" id="getAll" value="Submit" />
        </td>


    </tr>
</table>

<div id="status" style="color:red;text-align:center;font-weight:500;"></div>
@using (Html.BeginForm())
{
    <table id="passengerDetailsBody" class="table table-hover" style="background-color: aliceblue;opacity: 0.9;width: 80%;background-color: aliceblue;margin-left: 12%;">
    </table>
    <input type="submit" class="btn btn-primary" id="submitBtn" style="display: none;position:relative;left:45%;" />
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

    function closePopup() {
        $("#popup").hide();
    }
    function openPopup() {

    }
    $(document).ready(function () {
        $("#popup").hide();
        $("#submit1").click(function () {
            $("#popup").show();
        });
    });
</script>
<div style="justify-content: center; background-color: #f0f0f0; align-items: center;" id="popup">
    <img src="~/Images/success.png" style="width: 96px;height: 80px;border-radius: 50%;" />
    <div style="text-align:center;">
        <h5 style="margin-top:56px;">Ticket cancelled Successfully</h5>
        <input type="button" id="popupbutton" value="Close" class="btn btn-danger" onclick="closePopup();"
               style="margin: 5px; background-color: green;">
    </div>
</div>

@if (ViewBag.msg != null)
{
    @ViewBag.msg
}


