@model BusTicketBooking.Models.BTicket
@{
    ViewBag.Title = "BusBooking2";
}

<h2>BusBooking2</h2>
@using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <th>TicketID</th>
                        <th>CustomerID</th>
                        <th>ScheduleID</th>
                        <th>Number of Tickets</th>
                        <th>Status</th>
                        <th>Cost</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(c => c.TicketID)</td>
                        <td>@Html.DisplayFor(c => c.CustomerID)</td>
                        <td>@Html.DisplayFor(c => c.ScheduleId)</td>
                        <td>@Html.DisplayFor(c => c.NumberOfTickets)</td>
                        <td>@Html.DisplayFor(c => c.Passengers.Status)</td>
                        @{
                            int numberOfTickets = Model.NumberOfTickets;
                            int cost = ViewBag.cost != null ? (int)ViewBag.cost : 0;
                            int totalCost = numberOfTickets * cost;
                        }
                        <td>@totalCost</td>
                    </tr>
                    
                </table>
            }

