@model BusTicketBooking.Models.Admin
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>UserName/Email</td>
            <td>@Html.TextBoxFor(a => a.UserID)</td>
            <td>@Html.ValidationMessageFor(a => a.UserID)</td>
        </tr>
        <tr>
            <td>UserPassword</td>
            <td>@Html.PasswordFor(a => a.UserPassword)</td>
            <td>@Html.ValidationMessageFor(a => a.UserPassword)</td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>
    if (ViewBag.msg != null)
    {
        <font color="red">@ViewBag.msg</font>
    }
}

