@model BusTicketBooking.Models.CDetails
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
<style>
    .error {
        color: red;
    }
</style>
<script>function getcitites()
    {
        var state = document.getElementById("State").value;
        var custId = document.getElementById("custId").value;
        var country = document.getElementById("country").value;
        var Name = document.getElementById("Name").value;
        var Address = document.getElementById("Address").value;
        window.location.href = "getCities?state=" + state + "&custId=" + custId + "&country=" + country + "&Name=" + Name + "&Address=" + Address;
    }</script>
@using (Html.BeginForm("SignUp1", "Customer"))
{
    <table>
        <tr>
            <td>CustomerID</td>
            <td>
                @Html.TextBoxFor(c => c.CustomerID, new { disabled = "disabled" })
                @Html.Hidden("custId", Model.CustomerID)
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                @Html.TextBoxFor(c =>c.Name)
                @Html.Hidden("Name", Model.CustomerID)
            </td>

            <td class="error">@Html.ValidationMessageFor(c => c.Name)</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                @Html.TextBoxFor(c => c.Address)
                @Html.Hidden("Address", Model.CustomerID)
            </td>
            <td class="error">@Html.ValidationMessageFor(c => c.Address)</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>
                @Html.TextBoxFor(c => c.Country, new { disabled = "disabled" })
                @Html.Hidden("country", Model.Country)
            </td>
        </tr>
        @if (ViewBag.states == null)
        {
            <tr>
                <td>State</td>
                <td>
                    @Html.DropDownList("State", Enumerable.Empty<SelectListItem>(), "select")
                </td>
                <td class="error">@Html.ValidationMessageFor(c => c.State)</td>
            </tr>
        }
        else
        {
            <tr>
                <td>State</td>
                <td>
                    @Html.DropDownList("State", new SelectList(ViewBag.states), "select", new { onblur = "getcitites();" })
                </td>
                <td class="error">@Html.ValidationMessageFor(c => c.State)</td>
            </tr>
        }
        @if (ViewBag.cities == null)
        {
            <tr>
                <td>District</td>
                <td>@Html.DropDownListFor(c => c.City, Enumerable.Empty<SelectListItem>(), "select")</td>
                <td class="error">@Html.ValidationMessageFor(c => c.City)</td>
            </tr>

        }
        else
        {
            <tr>
                <td>District</td>
                <td>@Html.DropDownListFor(c => c.City, new SelectList(ViewBag.cities), "select")</td>
                <td class="error">@Html.ValidationMessageFor(c => c.City)</td>
            </tr>
        }
        <tr>
            <td>PinCode</td>
            <td>@Html.TextBoxFor(c => c.Pincode, new { Value = " " })</td>
            <td class="error">@Html.ValidationMessageFor(c => c.Pincode)</td>
        </tr>
        <tr>
            <td>EmailID</td>
            <td>
                @Html.TextBoxFor(c => c.EmailID)
            @Html.Hidden("Email", Model.EmailID)
        </td>
        <td class="error">@Html.ValidationMessageFor(c => c.EmailID)</td>

    </tr>
    <tr>
        <td>Gender</td>
        <td>
            @Html.RadioButtonFor(c => c.Gender, "Male")Male
            @Html.RadioButtonFor(c => c.Gender, "Female")Female
            @Html.RadioButtonFor(c => c.Gender, "others")Others
        </td>
        <td class="error">@Html.ValidationMessageFor(c => c.Gender)</td>
    </tr>
    <tr>
        <td>ContactNumber</td>
        <td>@Html.TextBoxFor(c => c.ContactNumber, new { Value = " " })</td>
        <td class="error">@Html.ValidationMessageFor(c => c.ContactNumber)</td>
    </tr>
    <tr>
        <td>Date of birth</td>
        <td>@Html.TextBoxFor(c => c.DateOfBirth, new { type = "date" })</td>
        <td class="error">@Html.ValidationMessageFor(c => c.DateOfBirth)</td>
    </tr>
    <tr>
        <td>CustomerPassword</td>
        <td>@Html.Password("Customerpassword")</td>
        <td class="error">
            @Html.ValidationMessage("Customerpassword")
            @if (ViewBag.msg != null)
            {
                <font color="red">@ViewBag.msg</font>
            }
        </td>
    </tr>
    <tr>
        <td>ConfirmPassword</td>
        <td>@Html.Password("ConfirmPassword")</td>
        <td class="error">
            @Html.ValidationMessage("ConfirmPassword")
            @if (ViewBag.msg != null)
            {
                <font color="red">@ViewBag.msg</font>
            }
        </td>
    </tr>
</table>

<input type="submit" />
}


